<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated System -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="WebApplication.presentation.WebApplicationModelWizardID"
            name="%_UI_WebApplicationModelWizard_label"
            class="WebApplication.presentation.WebApplicationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/WebApplicationModelFile.gif">
         <description>%_UI_WebApplicationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated System -->
      <editor
            id="WebApplication.presentation.WebApplicationEditorID"
            name="%_UI_WebApplicationEditor_label"
            icon="icons/full/obj16/WebApplicationModelFile.gif"
            extensions="webapplication"
            class="WebApplication.presentation.WebApplicationEditor"
            contributorClass="WebApplication.presentation.WebApplicationActionBarContributor">
      </editor>
   </extension>

</plugin>
